<mat-card class="h-full">
    <mat-card-header class="h-2/5">
        <mat-card-title>User {{todo.userId}}: {{todo.title}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="h-1/2 pt-3">
        <form (ngSubmit)="onSubmit()">
            <p>Completed: <span [ngClass]="{'text-green-500': todo.completed === true, 'text-red-500': todo.completed === false}">{{todo.completed}}</span></p>
            <input type="checkbox" name="completed" [checked]="todo.completed" onchange="changeStatus()">
            <mat-card-footer>
                <button mat-button>Update</button>
            </mat-card-footer>
        </form>
    </mat-card-content>
</mat-card>