<mat-card class="my-2 w-full">
    <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mb-2">
        {{post.body}}
    </mat-card-content>
    <div *ngIf="mode === 'comments'">
        <mat-divider></mat-divider>
        <mat-card-title class="pt-3">Comments:</mat-card-title>
        <div *ngFor="let comment of comments; let i = index">
            <mat-divider *ngIf="i!==0"></mat-divider>
            <mat-card-content class="pt-3">
                <p>{{comment.name}} ({{comment.email}}):</p>
                <p class="bg-gray-100 border p-3">{{comment.body}}</p>
            </mat-card-content>
        </div>
    </div>
    <mat-card-actions *ngIf="mode===''">
        <button mat-button (click)="goToUser(post.userId)">Go to user</button>
        <button mat-button (click)="goToComments(post.id)">Go to comments</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="mode==='user'">
        <button mat-button (click)="goToComments(post.id)">Go to comments</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="mode==='crud'">
        <button mat-button (click)="onDelete(post.title)">Delete</button>
        <button mat-button (click)="onSelect(post.title)">Edit</button>
    </mat-card-actions>
</mat-card>