<div class="h-full px-24 md:px-52 lg:px-80 flex flex-wrap justify-center content-center bg-gray-100">
    <div class="flex-grow sm:h-1/4 md:h-2/3">
        <mat-card class="text-center min-h-full">
            <div>
                <mat-card-title class="pt-4 md:pt-20 text-3xl">Login</mat-card-title>
            </div>
            <mat-card-content class="pt-12">
                <form>
                    <div class="input-wrapper focus-within:border-primary mb-4">
                        <input type="text"
                        class="input"
                        placeholder="Username"
                        name="username">
                    </div>
                    <div class="input-wrapper focus-within:border-primary mb-7">
                        <input type="password"
                        class="input"
                        placeholder="Password"
                        name="password">
                    </div>
                    <button mat-raised-button color="primary" class="w-36">Login</button>
                </form>
            </mat-card-content>
            <mat-card-footer>
                <p><a href="#" class="text-center text-blue-500 hover:underline">Not an user? Signup!</a></p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>