<div class="h-full flex flex-wrap justify-center content-center bg-gray-100">
    <div>
        <mat-card class="w-80 text-center">
            <div>
                <mat-card-title class="py-5">Login</mat-card-title>
            </div>
            <mat-card-content>
                <form>
                    <div class="relative my-4 border-b-2
                    bg-gray-100
                    focus-within:border-gray-400">
                        <input type="text"
                        class="block w-full pl-5 py-3
                        bg-transparent
                        appearance-none
                        placeholder-gray-400
                        focus:outline-none"
                        placeholder="Username"
                        name="username">
                    </div>
                    <div class="relative my-4 border-b-2
                        bg-gray-100
                        focus-within:border-gray-400">
                        <input type="password"
                        class="block w-full pl-5 py-3
                        bg-transparent
                        appearance-none
                        placeholder-gray-400
                        focus:outline-none"
                        placeholder="Password"
                        name="password">
                    </div>
                    <button mat-raised-button color="primary" class="mb-3">Login</button>
                </form>
            </mat-card-content>
            <mat-card-footer>
                <p><a href="#" class="text-center text-blue-500 hover:underline">Not an user? Signup!</a></p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>