<mat-sidenav-container class="h-full">
    <mat-sidenav
    #drawer
    class="w-52 shadow-lg"
    fixedInViewport="false"
    [mode]="'over'"
    >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item class="mx-3" (click)="setTitle('Profile')" [routerLink]="'profile'">Profile</a>
        <a mat-list-item class="mx-3" (click)="setTitle('Users')" [routerLink]="'users'">Users</a>
        <a mat-list-item class="mx-3" (click)="setTitle('Posts')" [routerLink]="'posts'">Posts</a>
        <a mat-list-item class="mx-3" (click)="setTitle('Albums')" [routerLink]="'albums'">Albums</a>
        <a mat-list-item class="mx-3" (click)="setTitle('TODOs')" [routerLink]="'todos'">TODOs</a>
        <a mat-list-item class="mx-3" (click)="logOut()" [routerLink]="'login'">Logout</a>
    </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content class="bg-gray-200">
    <mat-toolbar color="primary">
        <button
        class="sm:hidden bg-transparent font-medium text-sm relative inline-block m-0 pt-1 w-10 h-10 rounded-3xl overflow-visible"
        aria-label="Toggle sidenav"         (click)="drawer.toggle()"
        ><mat-icon class="">menu</mat-icon>
    </button>
    <div>Alkemy Blog</div>
    <span class="flex-1"></span>
    <div class="hidden sm:block sm:float-right">
        <a class="mx-3" (click)="setTitle('Profile')" [routerLink]="'profile'">Profile</a>
        <a class="mx-3" (click)="setTitle('Users')" [routerLink]="'users'">Users</a>
        <a class="mx-3" (click)="setTitle('Posts')" [routerLink]="'posts'">Posts</a>
        <a class="mx-3" (click)="setTitle('Albums')" [routerLink]="'albums'">Albums</a>
        <a class="mx-3" (click)="setTitle('TODOs')" [routerLink]="'todos'">TODOs</a>
        <a class="mx-3" (click)="logOut()" [routerLink]="'login'">Logout</a>
            </div>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>