<nav>
    <mat-toolbar color="primary" class="justify-between">
        <div>Alkemy Blog</div>
        <div>
            <a class="mx-3" (click)="setTitle('Profile')" [routerLink]="'profile'">Profile</a>
            <a class="mx-3" (click)="setTitle('Users')" [routerLink]="'users'">Users</a>
            <a class="mx-3" (click)="setTitle('Posts')" [routerLink]="'posts'">Posts</a>
            <a class="mx-3" (click)="setTitle('Albums')" [routerLink]="'albums'">Albums</a>
            <a class="mx-3" (click)="setTitle('TODOs')" [routerLink]="'todos'">TODOs</a>
        </div>
    </mat-toolbar>
</nav>