<div *ngIf="mode === ''" class="flex flex-col justify-center px-24 md:px-48">
    <div *ngFor="let post of posts">
        <app-post-card
        [post]="post"
        (navigateToComments)="navigateToComments($event)"
        (navigateToUser)="navigateToUser($event)"
        ></app-post-card>
    </div>
</div>
<div *ngIf="mode === 'comments'" class="flex flex-col justify-center px-48">
        <app-post-card
        [post]="post"
        [comments]="comments"
        [mode]="mode">
        ></app-post-card>
</div>