    <mat-card class="w-max ml-3 mt-3">
        <mat-card-header>
            <div mat-card-avatar [innerHTML]="avatar"></div>
            <mat-card-title>Username: {{user.username}}</mat-card-title>
            <mat-card-subtitle>{{user.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true" class="py-3"></mat-divider>
        <mat-card-content>
                <p>Website: {{user.website}}</p>
                <mat-divider [inset]="true" class="py-3"></mat-divider>
                <mat-card-title>Company:</mat-card-title>
                <p *ngIf="user.company.name !== ''" class="pt-3">Name: {{user.company.name}}</p>
                <p *ngIf="user.company.catchPhrase !== ''" class="pt-3">Catch phrase: {{user.company.catchPhrase}}</p>
                <p *ngIf="user.company.bs !== ''" class="pt-3">Bs: {{user.company.bs}}</p>
        </mat-card-content>
    </mat-card>